@import url('https://fonts.googleapis.com/css2?family=Nobile&family=Noto+Sans+JP:wght@700&family=Nunito+Sans&family=Overpass&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:fantasy;
}

section {
    background-color: #400D51;
    padding: 10px 20px;
    box-shadow: 0 0 10px #ffd1ff;
    border-radius: 10px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}


html, body { height: 100% }

main {
    height: 80%;
}

h1 {
    color: #ffd1ff;
    text-align: center;
}

p,h2,ul {
    color: black;
    text-align: center;
    margin: 1%;
}

.block {
    transition: all 0.3s ease-in-out;
    background-color: #85AD8A;
    border-radius: 10px;
    box-shadow: 0 0 10px #ffd1ff;
    animation: pulse 1s infinite;
}

.paused-overlay {
    display: none;
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);

}

.paused>.paused-overlay {
    display: block;
}

.win-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    z-index: 3;
    flex-wrap: wrap;
    flex-direction: column;

}

.win>.win-overlay {
    display: block;
}

#start-overlay {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    z-index: 3;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    justify-items:center;
}

.button {
    flex-grow: 1;
    background-color: #400D51;
    border: 1px solid white;
    color: white;
    height: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.alert {
    flex-grow: 10;
    text-align: center;
    font-size: 350%;
    padding: 70px;
}

.welcome {
    flex-grow: 3;
    text-align: center;
    font-size: 200%;
    padding: 20px;
}

#title {
  font-family: Noto Sans JP;
  font-size: 2em;
  font-weight: 600;
  background-image: radial-gradient(rgb(226, 226, 35), #ffd1ff);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

#score-container, #round-container {
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

#game-container {
    background: linear-gradient(to top, rgb(226, 226, 35), #ffd1ff);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 5px #ffd1ff;
    margin: 0 auto;
    max-width: 100%;
    height: 100%;
}

#grid-container {
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(7, 1fr);
    width: 90%;
    height: 100%;
    max-width: 300px;
    margin: 0 auto;
    background-color: black;
    border-radius: 10px;
    border: none;
    box-shadow: inset 0 0 10px black;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='400' height='600' preserveAspectRatio='none' viewBox='0 0 400 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1373%26quot%3b)' fill='none'%3e%3crect width='400' height='600' x='0' y='0' fill='rgba(83%2c 65%2c 67%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c208.472C52.883%2c222.118%2c108.22%2c269.011%2c156.614%2c243.696C203.921%2c218.95%2c193.165%2c146.827%2c212.774%2c97.17C231.086%2c50.797%2c273.675%2c10.999%2c268.066%2c-38.542C262.431%2c-88.31%2c222.309%2c-127.256%2c183.744%2c-159.215C149.116%2c-187.911%2c105.726%2c-201.163%2c61.565%2c-209.672C20.746%2c-217.538%2c-19.08%2c-208.826%2c-60.573%2c-206.293C-115.596%2c-202.934%2c-183.015%2c-231.338%2c-221.999%2c-192.363C-260.307%2c-154.063%2c-230.633%2c-87.653%2c-233.354%2c-33.551C-235.779%2c14.662%2c-261.445%2c66.592%2c-237.12%2c108.289C-212.871%2c149.856%2c-156.389%2c155.64%2c-112.06%2c174.369C-75.35%2c189.879%2c-38.588%2c198.515%2c0%2c208.472' fill='%23403234'%3e%3c/path%3e%3cpath d='M400 799.316C439.446 801.933 476.651 790.131 514.155 777.629 563.078 761.3199999999999 633.387 763.197 652.285 715.215 671.5160000000001 666.389 609.439 622.438 595.168 571.939 583.485 530.599 603.479 480.492 576.504 447.058 549.448 413.524 497.204 420.20500000000004 458.117 402.072 409.815 379.663 373.157 322.837 320.175 328.139 267.651 333.395 223.765 380.036 201.245 427.777 180.306 472.16700000000003 211.901 523.371 205.149 571.985 198.448 620.233 141.48700000000002 664.513 162.246 708.579 183.078 752.802 249.509 745.673 295.18 763.1030000000001 330.431 776.556 362.352 796.819 400 799.316' fill='%23665052'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1373'%3e%3crect width='400' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}


#resume-button, #stop-button {
    display: none;
}



#reset-button, #start-button {
    flex-grow: 1;
    margin: 10px auto;
    display: block;
    height: fit-content;
    padding: 80px;
    font-size: 200%;
    box-shadow: 0 0 10px black;
    border-radius: 15%;
}

#error-message {
    color: red;
    margin-top: 20px;
}


/* Animations */

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}